<div class="container">
        <button id="myBtn">Open Modal</button>
</div>
    <div id="myModal" class="modal">
        <div class="modal-content">
                <span class="close">&times;</span>
                <br>
                <input type="file" class="imgs1">
                <input type="text" class="inputTitle" placeholder="title">
                <input type="text" class="inputBody" placeholder="body">
            <button id="btnAddPost">add Post</button>
        </div>
    </div>
</div>