{{> head}}

<body>
    <h1>Contact us for any question</h1>
    <form action="/feedback" method="POST"></form>
    <input type="text" name="case">
    <textarea name="text" cols="30" rows="10"></textarea>
    <button type="submit">Send</button>
    </form>
</body>